# main requirement
numpy

# only used for data visualization purposes
pandas
matplotlib

# only used for the `sklearn.model_selection.train_test_split` method
# (cf. the "mnist_dataset.py" script)
sklearn

# only used to print colored text in Python consoles/terminals
colorama